<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="main.css" />
        <link rel="stylesheet" type="text/css" href="home/home.css" />
        <link rel="stylesheet" type="text/css" href="home/responsive.css" />
        <link rel="icon" href="icon.png" />

        <title>Início | Newtone</title>
    </head>
    <div class="filter">
        <body>
            <header>
                <div class="header-container">
                    <div class="header-left">
                        <h1>NEWTONE</h1>
                        <nav>
                            <ul>
                                <li>Início</li>
                                <li>Sobre</li>
                                <li>Contato</li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <div class="select">
                            <div class="box-select">
                                Serviços
                                <ion-icon class="icon-open" name="chevron-down-outline"></ion-icon>
                            </div>
                            <div class="options">
                                <a>ISS</a>
                                <a>APOD</a>
                                <a>APOD</a>
                                <a>APOD</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="main-container">
                    <h1>NEWTONE</h1>
                    <img src="icon.png">
                    <p>Descubra uma nova forma de explorar o universo com
                        as fascinantes curiosidades astronômicas que o site
                        oferece, proporcionando uma perspectiva única para
                        enxergar o cosmos sob um novo tom.
                    </p>
                    <button class="btn btn-pr">Começar!</button>
                </div>
            </main>

            <script src="home/home.js"></script>

            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        </body>
    </div>
</html>