<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/epic/epic.css" />
    <link rel="icon" href="/icon.png" />

    <title>EPIC | Newtone</title>
</head>
    <body>
        <video src="/epic/assets/earth.mp4" autoplay loop muted></video>

        <header>
            <div class="header-container">
                <div class="header-left">
                    <a href="/"><h1>NEWTONE</h1></a>
                </div>
            </div>
        </header>

        <main>
            <div class="main-container">
                <div class="box">
                    <form>
                        <h1>EPIC</h1>
                        <div class="input-area">
                            <label>Tipo:</label>
                            <select>
                                <option value="" selected disabled>Selecione o tipo da imagem</option>
                                <option>Enfeitada</option>
                                <option>Natural</option>
                            </select>
                        </div>

                        <div class="input-area">
                            <label>Data</label>
                            <select>
                                <option value="" selected disabled>Selecione a data da imagem</option>
                            </select>
                        </div>

                        <button class="btn btn-pr">Pesquisar</button>
                    </form>
                </div>
            </div>
        </main>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>