.filter{
    min-height: 100vh;
    backdrop-filter: brightness(50%);
}

body{
    background: url("/home/img/background.webp") center no-repeat;
    background-size: cover;
    color: var(--light);
}

header{
    padding: 2rem 4rem;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-left nav ul{
    display: flex;
    gap: 1rem;
}


.header-left nav ul li{
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
}

.header-left nav ul li:hover{
    color: #d6d9d2ce;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select{
    padding: 1rem;
    position: relative;
    user-select: none;
}

.box-select{
    text-align: justify;
    border: 1px solid var(--light);
    background-color: rgba(0, 0, 0, 0.268);
    padding: 0.5rem;
    width: 14rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

}

.icon-open{
    transition: 0.5s;
}

.options{
    display: none;
    position: absolute;
    top: 0;
    width: 14rem;
    flex-direction: column;
    align-items: center;
    height: 11rem;
    transition: 0.5s;
}

.options a{
    position: absolute;
    text-decoration: none;
    color: var(--light);
    cursor: pointer;
    width: 100%;
    top: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0.8rem 1rem;
    transition: 0.5s;
    user-select: none;
}

.options a:hover{
    border: 1px solid var(--light);
    opacity: 50%;
}

.home-container{
    padding: 4rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.home-container p{
    width: 55%;
}

.home-container img{
    display: none;
    width: 8rem;
}

button{
    width: 10rem;
}

.select-responsive{
    display: none;

}