@media screen and (max-width: 845px){
    .header-left nav{
        display: none;
    }
    .header-left{
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (min-width: 410px){
    .info{
        width: 70%;
    }
}

@media screen and (max-width: 640px){
    .header-left{
        justify-content: center;
    }

    .header-container{
        flex-direction: column;
    }

    .home-container{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home-container h1{
        display: none;
    }

    .home-container img{
        display: block;
    }

    .home-container p{
        width: 100%;
    } 
}